.operator {
    &__detail {
        .text {
            margin-top: 15px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        max-width: 320px;

        margin-top: 15px;

        background: #ffa2a2;
        border-color: #ffa2a2;

        cursor: pointer;
        outline: none;
        transition: .4s;

        &:hover {
            opacity: .7;
        }
    }

    &__modal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 100%;
        &--status {
            font-size: 32px;
            &-done {
                color: green;
                font-size: 32px;
                text-align: center;
            }
            &-error {
                color: red;
                font-size: 32px;
                text-align: center;
            }
        }
    }
}