.operators {
    &__list {
        display: flex;
        flex-direction: column;

        &--item {
            margin-top: 10px;

            font-size: 24px;
            color: #ffa2a2;
        }
    }
}