.operator__input {
    width: 100%;
    max-width: 320px;

    font-size: 24px;
    &--wrapper {
        display: flex;
        flex-direction: column;

        margin-top: 15px;
    }

    &--label {
        font-size: 14px;
        color: grey;
    }
}

.input__amount {
    position: relative;
    & .symbol {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

.input__wrapper {
    position: relative;
    width: 100%;
    max-width: 320px;
    & .symbol {
        position: absolute;
        right: 5px;
        top: 7px;
    }
}