<template>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <nuxt-link to="/" class="header__content--link">Main</nuxt-link>
            </div>
        </div>
    </header> 
</template>