<template>
    <transition name="fade">
        <div
            v-if="showPreload"
            class="preloader"
            :class="{ 'preloader--open' :  showPreload}"
        >
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </transition>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Preload',
    computed: {
        ...mapGetters({
            showPreload: 'ui/showPreload'
        })
    }
}
</script>