@font-face {
    font-family: 'PlayfairDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  }