.header {
    width: 100%;
    height: 60px;

    margin-bottom: 20px;

    display: flex;
    justify-content: center;

    background: #ffa2a2;

    &__content {
        height: 100%;

        display: flex;
        align-items: center;

        &--link {

        }
    }
}