// .container {
//     margin: 0 auto;
//     max-width: 100%;
//     @media (max-width: 1400px) {
//         width: 1200px;
//     } 
//     @media (max-width: 1200px) {
//         width: 1140px;
//     } 
//     @media (max-width: 992px) {
//         width: 960px;
//     } 
//     @media (max-width: 768px) {
//         width: 720px;
//     } 
//     @media (max-width: 576px) {
//         width: 100%;
//     } 
// }

.container {
    max-width: 1280px !important;
    width: 100%;
    padding: 0 40px;
    margin: auto;
    @media (max-width: 576px){
      padding: 0 15px;
    }
  }

a {
    text-decoration: none;
    color: white;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 18px;

    transition: .4s;
    &:hover {
        color: black;
    }
}

.title {
    font-size: 3rem;
    @media (max-width: 992px){
        font-size: 2rem;
    }
}

.text {
    font-size: 1rem;
    @media (max-width: 992px){
        font-size: 0.5rem;
    }
}

html {
    font-family: 'PlayfairDisplay-Regular' !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
    outline: none;
}

.input--error {
    border-color: red;
    color: red;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: red;
        opacity: .6;
      }
}

.text--error {
    color: red;
}

.vm--modal {
    @media (max-width: 600px){
        width: 100% !important;
        left: 0 !important;
      }
}