<template>
    <div class="operator__input--wrapper">
        <label for="input__phone" class="operator__input--label">Enter your phone</label>
        <TheMask
            ref="input"
            id="input__phone"
            v-model="phone"
            :mask="'+# (###) ### ## ##'"
            class="operator__input"
            :class="{ 'input--error' : error }"
            placeholder="+7 (950) 950 55 55"
            @input="onInput"
        />
        <p v-if="error" class="text--error">* Enter valid phone</p>
    </div>
</template>

<script>
import {mask} from 'vue-the-mask'
import {TheMask} from 'vue-the-mask'

export default {
    name: 'OperatorPhoneInput',
    directives: {mask},
    components: {
        TheMask
    },
    props: {
        error: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        phone: ''
    }),
    methods: {
        onInput() {
            // Replace first letter to 7 if it 8
            if (this.phone.startsWith('8')) {
                this.phone = this.phone.replace('8', '7');
            } else if (!this.phone.startsWith('7') && this.phone.length !== 0) {
                this.phone = '7' + this.phone;
            }
            // Set input focuse to end
            setTimeout(() => {
                const value = this.$refs.input.$el.value
                this.$refs.input.$el.value = '';
                this.$refs.input.$el.value = value
            },10)
            this.$emit('change', this.phone);
        }
    }
}
</script>