<template>
    <div class="operator__input--wrapper input__amount">
        <label for="input__amount" class="operator__input--label">Enter amount</label>
        <div class="input__wrapper">
            <input
                type="number"
                id="input__amount"
                v-model="amount"
                class="operator__input"
                :class="{ 'input--error' : error }"
                :placeholder="maxAmount"
                @input="onInput"
            >
            <p class="symbol">₽</p>
            <p v-if="error" class="text--error">* Enter valid amount</p>
        </div>
    </div>
</template>

<script>
let timer = null;

export default {
    name: 'OperatorAmountInput',
    data: () => ({
        amount: null
    }),
    props: {
        error: {
            type: Boolean,
            default: false
        },
        minAmount: {
            type: Number,
            required: true,
        },
        maxAmount: {
            type: Number,
            required: true,
        }
    },
    methods: {
        onInput() {
            clearTimeout(timer);
            timer = setTimeout(() => {
                // set min/max amount if current amount less/more
                if (this.amount < this.minAmount) {
                    this.amount = this.minAmount;
                } else if (this.amount > this.maxAmount) {
                    this.amount = this.maxAmount;
                }
                this.$emit('change', this.amount);
            }, 600)
        }
    }
}
</script>