<template>
    <div class="operator__detail">
        <h2 class="title">{{ operator.name + ' feeling' }}</h2>
        <p class="text">{{ operator.description }}</p>
        <OperatorPhoneInput
            @change="phone = $event; errorPhone = false"
            :error="errorPhone"
        />
        <OperatorAmountInput
            @change="amount = $event; errorAmount = false"
            :minAmount="1"
            :maxAmount="1000"
            :error="errorAmount"
        />
        <button
            class="operator__button"
            :disabled="errorPhone || errorAmount"
            @click="sendData"
        >
            Fill phone
        </button>
        <OperatorModal :operator="operator" :phone="phone.toString()" :amount="amount"/>
    </div>
</template>

<script>
import OperatorPhoneInput from './OperatorPhoneInput';
import OperatorAmountInput from './OperatorAmountInput';
import OperatorModal from './OperatorModal';

const numberLength = 11

export default {
    name: 'OperatorDetail',
    components: {
        OperatorPhoneInput,
        OperatorAmountInput,
        OperatorModal
    },
    data: () => ({
        phone: '',
        amount: null,
        errorPhone: false,
        errorAmount: false
    }),
    props: {
        operator: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
        sendData() {
            // Validate phone
            setTimeout(() => {
                if (this.phone.length !== numberLength) {
                    this.errorPhone = true;
                }
                // Validate amount
                if (!this.amount || this.amount < 1 || this.amount > 1000) {
                    this.errorAmount = true
                }

                if (this.errorPhone || this.errorAmount) {
                    return;
                }
                this.$store.commit('ui/SET_SHOW_PRELOAD', true)
                this.$store.dispatch('operators/FILL_PHONE', {
                    phone: this.phone,
                    amount: this.amount,
                    slug: this.$route.params.slug
                });
            }, 600)
        }
    }
}
</script>