<template>
    <modal
        name="my-first-modal"
        @before-close="beforeClose"
    >
        <div class="operator__modal">
            <p :class="{ 'operator__modal--status-done' : status === 'done', 'operator__modal--status-error' : status === 'error' }">
                {{ status === 'done' ? 'Success fill for ' + operator.name + ':'  : 'Something went wrong with ' + operator.name + ':' }}
            </p>
            <p>{{ 'Phone: +' +  phone }}</p>
            <p>{{ 'Amount: ' +  amount + ' ₽' }}</p>
        </div>
    </modal>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'MyComponent',
    props: {
        operator: {
            type: Object,
            default: () => {}
        },
        phone: {
            type: String,
            default: ''
        },
        amount: {
            type: Number,
            default: 0
        }
    },
    methods: {
        show () {
            this.$modal.show('my-first-modal');
        },
        hide () {
            this.$modal.hide('my-first-modal');
        },
        //clear status then modal close
        beforeClose() {
            // Redirect to main
            if (this.status === 'done') {
                this.$router.push({ path: '/' })
            }
            this.$store.commit('operators/SET_STATUS', null);
        }
    },
    computed: {
        ...mapGetters({
            status: 'operators/status'
        })
    },
    watch: {
        status(value) {
            if (value) {
                this.show();
            }
        }
    },
}
</script>