<template>
    <div class="operators__list">
        <h2 class="title">List of operators</h2>
        <nuxt-link
            v-for="op in list"
            :key="op.id"
            :to="'operator/' + op.slug"
            class="operators__list--item"
        >
            {{ op.name }}
        </nuxt-link>
    </div>
</template>

<script>
export default {
    name: 'OperatorList',
    props: {
        list: {
            typr: Array,
            default: () => []
        }
    }
}
</script>