<template>
    <div class="container">
        <OperatorList :list="operators"/>
    </div>
</template>

<script>
import OperatorList from '@/components/operator/OperatorList'
import { mapGetters } from 'vuex'

export default {
    components: {
        OperatorList
    },
    head() {
        return { title: 'Main' }
    },
    computed: {
        // Get ssr response
        ...mapGetters({
            operators: 'operators/operators'
        })
    }
}
</script>
