<template>
    <div class="container">
        <OperatorDetail :operator="operator"/>
    </div>
</template>

<script>
import OperatorDetail from '@/components/operator/OperatorDetail';
import { mapGetters } from 'vuex';

export default {
    components: {
        OperatorDetail
    },
    // SSR requset for getting detail operator
    async fetch({ store, params }) {
        await store.dispatch('operators/GET_OPERATOR_BY_SLUG', params.slug);
    },
    // Set head title
    head() {
        if (this.operator && this.operator.name) {
            return { title: this.operator.name };
        }
    },
    computed: {
        ...mapGetters({
            operator: 'operators/operator'
        })
    }
}
</script>